.node__branch > path,
.node__root > path,
.node__leaf > path {
    display: none !important; /* ซ่อนเส้น */
}

/* กำหนดขนาดของภาพและลักษณะการแสดงผลในโหนดต่างๆ */
.node__root img {
    width: 200px;
    height: 300px;
    object-fit: cover; /* ทำให้ภาพไม่บิดเบี้ยว */
}

.node__branch img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.node__leaf img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

/* Wrapper ของต้นไม้ให้เต็มหน้าจอ */
#treeWrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}
